* {
  box-sizing: border-box;
}

nav a.poo {
  display: none;
}
body {
  background-color: #9ad0ec;
  font-size: 30px;
  font-family: "Amatic SC", cursive;
}

a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #e3bec6;
}

.presentations a:link {
  color: black;
}
.presentations a:visited {
  color: grey;
}

.presentations a:hover {
  color: white;
}

/* 
.icon:hover {
    opacity: 0.4;
} */

nav {
  background-color: #1572a1;
  display: grid;
  grid-template-columns: 0.4fr 0.3fr 2fr 0.75fr;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  color: white;
}

nav .topleftbar {
  display: grid;
  grid-template-rows: auto auto;
}
.logo {
  height: 80px;
}
h2 {
  text-align: left;
  font-size: smaller;
}
nav h1 {
  text-align: left;
  grid-column: 3 / span 1;
}

nav > section {
  display: grid;
  /* justify-content: space-between; */
  font-size: 0.9em;
  padding: 5px;
}

main > section {
  background-color: #e3bec6;
  padding: 20px;
}

.presentations > a {
  color: #435e6b;
}

.instruction {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1;
  text-align: center;
}

.icon-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  padding: 20px;
  row-gap: 20px;
  /* height: 80vh; */
}

.icon {
  position: relative;
  text-align: center;
  color: white;
  font-size: 2em;
}

.centred {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centred::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 150%;
  height: 200%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  /* border:1px solid green;  */
}

.centred span {
  visibility: hidden;
  background-color: rgb(21, 114, 161, 0.65);
  padding: 10px;
  border-radius: 20%;
}

.centred:hover span {
  visibility: visible;
}

.specialty-icon {
  height: 6vh;
}

.inset {
  background-color: rgb(213, 167, 178);
  padding: 30px;
  margin: 50px;
  font-size: 0.8em;
}

.presentations {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
}

footer {
  background-color: blanchedalmond;
  text-align: center;
}

#contact {
  display: grid;
  justify-content: center;
}
.form {
  background-color: #4d85553a;
  margin: 10px 10px;
  padding: 20px;
  width: 350px;
  border-radius: 10%;
  /* display: grid; */
}
.form-fields {
  padding: 10px 10px;
  display: grid;
}

#button {
  background-color: #1572a1;
  font-family: "Amatic SC", cursive;
  color: white;
  width: 15vw;
  margin-left: auto;
  margin-top: 10px;
}

/* start of media query */

@media only screen and (max-width: 450px) {
  .centred {
    font-size: 6vw;
  }

  h2 {
    display: none;
  }

  .icon {
    max-width: 100%;
    height: auto;
  }

  .hamburger {
    font-size: 4vw;
  }

  nav h1 {
    text-align: left;
    font-size: 7vw;
  }

  nav {
    background-color: #1572a1;
    display: grid;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    color: white;
    overflow: hidden;
    position: relative;
  }

  nav a.poo {
    background: #1572a1;
    display: block;
    position: relative;
    right: 0px;
    top: 0px;
    font-size: 1em;
  }

  nav .hamburger {
    display: none;
  }

  img {
    height: 8vh;
  }

  .instruction {
    font-size: 6vw;
  }

  footer {
    font-size: 5vw;
  }

  .form {
    width: 90vw;
    border-radius: 10%;
    /* display: grid; */
  }

  textarea {
    width: 80vw;
  }

  .form-fields {
    width: 100%;
  }

  #button {
    width: 15vw;
  }
}

/* end of media query */
